<div class="center">
  <h2>check out <a href="http://angularjs.org">http://angularjs.org</a></h2>
  <h2>fork at <a href="https://github.com/angular">https://github.com/angular</a></h2>
  <h2>slides <a href="https://github.com/vojtajina/angular-demo-slides/tree/ctu-presentation">https://github.com/vojtajina/angular-demo-slides</a></h2>
  <h2>follow twitter <a href="http://twitter.com/#!/angularjs">@angularjs</a></h2>
  <h2>subscribe <a href="https://groups.google.com/forum/?fromgroups#!forum/angular">angular@googlegroups.com</a></h2>
</div>
